html, body,
header, footer, nav, article, aside,
figure, figcaption, section, div,
h1, h2, h3, h4, h5, h6, p, a, ul, li,
form, input, textarea, img, i, span {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
