.auth-form-header {
  background-color: #dddddd;
  height: 105px;
}

.auth-form-header-main {
  max-width: 1106px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
  margin: auto;
}

.auth-form-logo {
  width: 135px;
  height: 25px;
  font-size: 9pt;
  cursor: pointer;
}

.auth-form-main {
  background-color: #f3f3f3;
}

.auth-form-block {
  width: 650px;
  height: 550px;
  margin: auto;
}

.auth-form-heading {
  padding-top: 56px;
  text-align: center;
  padding-bottom: 37px;
  font-weight: normal;
}

.auth-form-section {
  border-top: 2px dotted #cccccc;
  padding-top: 40px;
}

.auth-form-username, .auth-form-password, .auth-form.submit {
  height: 59px;
  width: 100%;
  display: flex;
  align-items: center;
}

.auth-form-username label, .auth-form-password label {
  width: 155px;
  padding-right: 19px;
  text-align: right;
}

.auth-form-username input, .auth-form-password input,
.auth-form-submit input, .auth-form-guest button {
  width: 300px;
  height: 36px;
  border: 1px solid #cccccc;
}

.auth-form-submit input, .auth-form-guest button {
  background-color: #00a1c6;
  border: 1px solid #00a1c6;
  margin-top: 22px;
  margin-left: 174px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.auth-form-bottom {
  margin-top: 72px;
  text-align: center;
}

.auth-form-errors {
  margin-left: 174px;
  color: #c43329;
}
