.collection-page {
  position: relative;
  top: 6px;
  font-size: 9pt;
  color: #363636;
}

.collection-main {
  display: flex;
  width: 975px;
  margin: 0 auto;
  background-color: white;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

.collection-info-section {
  padding: 35px 30px 45px 30px;
  width: 376px;
}

.collection-info-title {
  font-weight: normal;
  font-size: 21pt;
  margin-bottom: 5px;
}

.collection-info-user {
  font-weight: normal;
  font-size: 10.5pt;
  margin-bottom: 12px;
}

.collection-edit-delete {
  display: flex;
  margin-bottom: 24px;
}

.collection-edit, .collection-delete {
  background-color: #ffffe0;
  border: 1px solid #c0c0c0;
  width: 56px;
  height: 22px;
  font-size: 9pt;
  margin-right: 9px;
}

.collection-edit:hover, .collection-delete:hover {
  text-decoration: underline;
  cursor: pointer;
}

.collection-sound-player-container {
  width: 376px;
  height: 52px;
  margin-bottom: 23px;
  background-color: lightcoral;
}

.collection-sound-player {
  width: 376px;
  background-color: lightcoral;
}

.collection-info-sound-collection {
  font-size: 10.5pt;
  margin-bottom: 7px;
}

.collection-info-includes-unlimited-streaming {
  margin-bottom: 5px;
}

.collection-info-donate-now {
  font-weight: bold;
  margin-bottom: 24px;
}

.collection-sounds-list {
  margin-bottom: 24px;
  list-style: none;
  background-color: lightcoral;
}

.collection-artwork-section {
  padding: 35px 39px 45px 0px;
  width: 350px;
}
