.collection-form {
  background-color:#dddddd;
}

.collection-form-main {
  background-color:white;
  width: 975px;
  margin: 0 auto;
  position: relative;
  top: 6px;
  display: flex;
}

.collection-form-main-left {
  width: 466px;
}

.collection-form-main-right {
  width: 448px;
}

.collection-form-artwork-missing {
  width: 212px;
  height: 212px;
  display: flex;
  border: 1px dashed #c0c0c0;
  align-items: center;
}

.collection-form-artwork-missing a {
  text-align: center;
  width: 100%;
}
