.collection-form-artwork-missing {
  width: 212px;
  height: 212px;
  display: flex;
  border: 1px dashed #c0c0c0;
  align-items: center;
}

.collection-form-artwork-missing a {
  text-align: center;
  width: 100%;
}
