.collection-form {
  background-color:#dddddd;
}

.collection-form-main {
  background-color:white;
  width: 975px;
  margin: 0 auto;
  position: relative;
  top: 6px;
  display: flex;
}

.collection-form-main-left {
  padding: 22px 0px 0px 20px;
  width: 466px;
  background-color: #f7f7f7;
}

.collection-form-main-right {
  width: 448px;
}

.collection-form-collection-tab {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid white;
}

.collection-form-collection-tab-inner {
  display: flex;
  padding: 9px 0px 9px 11px;
  border-top: 1px solid white;
  border-bottom: 1px solid #e7e7e7;
}

.collection-form-collection-tab:hover {
  cursor: pointer;
  background-color: #fcfcfc;
}

.collection-form-collection-tab-text {
  padding-top: 1px;
  padding-left: 9px;
}

.collection-form-collection-tab-text-title {
  font-size: 15pt;
}

.collection-form-collection-tab-text-user {
  font-size: 8pt;
}

.collection-form-sound-tab:hover {
  cursor: pointer;
  background-color: #fcfcfc;
}

.collection-form-artwork-thumb {
  width: 70px;
  height: 70px;
  border: 1px solid #cccccc;
}

.collection-form-sounds-heading {
  text-transform: uppercase;
  color: #808080;
  font-size: 8.5pt;
  margin-top: 20px;
  margin-bottom: 17px;
  margin-left: 10px;
}

.collection-form-sound-list {
  list-style: none;
  margin-left: 11px;
}

.collection-form-sound-tab {
  border-top: 1px dotted #c5c5c5;
  display: flex;
  justify-content: flex-end;
  padding-top: 11px;
}

.collection-form-sound-tab-left {
}

.collection-form-sound-tab-idx {
  font-size: 11pt;
  margin-right: 8px;
  color: #999999;
}

.collection-form-sound-tab-right {
  width: 374px;
}

.collection-form-sound-tab-title {
  font-size: 11pt;
}

.collection-form-sound-tab-right-bottom {
  margin-top: 2px;
}

.collection-form-sound-tab-file {
  font-size: 8.5pt;
  color: #999999;
  margin-bottom: 4px;
}

.collection-form-sound-tab-downloadable {
  font-size: 8.5pt;
  color: #999999;
  margin-bottom: 12px;
}

.collection-form-sound-tab-right-top {
  display: flex;
  justify-content: space-between;
}

.collection-form-add-sound {
  font-size: 16.5pt;
}

.collection-form-artwork-container {
  width: 210px;
  height: 210px;
}

.collection-form-artwork-missing {
  width: 212px;
  height: 212px;
  display: flex;
  border: 1px dashed #c0c0c0;
  align-items: center;
}

.collection-form-artwork-missing a {
  text-align: center;
  width: 100%;
}
