.collection-page {
  position: relative;
  top: 6px;
  font-size: 9pt;
  color: #363636;
}

.collection-main {
  display: flex;
  width: 975px;
  margin: 0 auto;
  background-color: white;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

.collection-info-section {
  padding: 35px 30px 45px 30px;
  width: 376px;
}

.collection-info-title {
  font-weight: normal;
  font-size: 21pt;
  margin-bottom: 5px;
}

.collection-info-user {
  font-weight: normal;
  font-size: 10.5pt;
  margin-bottom: 12px;
}

.collection-edit-delete {
  display: flex;
  margin-bottom: 24px;
}

.collection-edit, .collection-delete {
  background-color: #ffffe0;
  border: 1px solid #c0c0c0;
  width: 56px;
  height: 22px;
  font-size: 9pt;
  margin-right: 9px;
}

.collection-edit:hover, .collection-delete:hover {
  text-decoration: underline;
  cursor: pointer;
}

.collection-sound-player-container {
  width: 376px;
  height: 52px;
  margin-bottom: 23px;
}

.collection-sound-player {
  width: 376px;
  display: flex;
}

#audio-player {
  display: none;
}

#collection-play-button {
  width: 56px;
  height: 52px;
  border: 1px solid #d9d9d9;
  background-color: white;
  background-position: center;
  border-radius: 2px;
  margin-right: 11px;
  cursor: pointer;
}

.collection-paused {
  background: url(image_path('play.png')) no-repeat;
}
.collection-playing {
  background: url(image_path('pause.png')) no-repeat;
}

.collection-sound-player-right {
  display: block;
}

.collection-sound-player-details {
  display: flex;
  margin-bottom: 11px;
}

.collection-sound-player-title {
  max-width: 225px;
  margin-right: 10px;
}

.collection-sound-player-time {
  color: #888888;
}

.collection-sound-player-timeline {
  width: 248px;
	height: 8px;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
}

.collection-sound-player-playhead {
  width: 22px;
	height: 10px;
  background: white;
  border: 1px solid #bebebe;
  border-radius: 1px;
  position: relative;
  left: -1px;
  top: -2px;
}

.collection-info-sound-collection {
  font-size: 10.5pt;
  margin-bottom: 7px;
}

.collection-info-includes-unlimited-streaming {
  margin-bottom: 5px;
}

.collection-info-donate-now {
  font-weight: bold;
  margin-bottom: 24px;
}

.collection-sounds-list {
  margin-bottom: 24px;
  list-style: none;
}

.sound-list-item {
  display: flex;
  margin-bottom: 9px;
  align-items: center;
}

#sound-list-item-play-button {
  width: 19px;
  height: 18px;
  border: 1px solid #d9d9d9;
  background-color: white;
  background-position: center;
  border-radius: 2px;
  cursor: pointer;
}

.sound-list-item-paused {
  background: url(image_path('play-small.png')) no-repeat;
}
.sound-list-item-playing {
  background: url(image_path('pause-small.png')) no-repeat;
}

.sound-list-item-idx {
  width: 18px;
  text-align: right;
  margin-right: 5px;
}

.collection-artwork-section {
  padding: 35px 39px 45px 0px;
  width: 350px;
}
