.home-header {
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.25s ease-out;
}

.off-screen {
  top: -105px;
}

.home-header-placeholder {
  height: 105px;
  background-color: white;
}

.home-header-main {
  font-size: 10.5pt;
  min-width: 785px;
  max-width: 1106px;
  height: 105px;
  margin: 0 auto;
}

.home-header-main-top, .home-header-main-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-header-main-top {
  padding-top: 24px;
}

.home-header-main-bottom {
  margin-top: 16px;
  height: 24px;
}

.home-header-logo {
  width: 156px;
  height: 25px;
  padding-left: 13px;
}

.home-header-search {
  padding-right: 13px;
}

.home-nav-left, .home-nav-right {
  list-style: none;
  display: flex;
  align-items: center;
}

.home-nav-left {
  padding-left: 13px;
}

.home-nav-right {
  padding-right: 13px;
}

.home-nav-slogan {
  font-size: 12pt;
  color: #408ea3;
}

.home-nav-greeting {
  color: #777777;
}

.home-nav-divider {
  width: 1px;
  height: 20px;
  background-color: #e5e5e5;
  margin: 0 12px;
}

.home-header a {
  color: black;
  font-weight: bold;
}

.home-figure {
  height: 450px;
  background-color: #222222;
}

.explore {
  background-color: #eef2f3;
}

.explore-filters-top {
  height: 40px;
  background-color: #42a0bd;
}

.explore-filters-bottom {
  height: 40px;
  background-color: #4390a8;
}

.explore-heading {
  background-color: #eef2f3;
}

.explore-heading-main {
  min-width: 785px;
  max-width: 1106px;
  margin: 0 auto;
}

.explore-heading h3 {
  font-size: 13.5pt;
  padding: 75px 13px 23px 13px;
}

.explore-main {
  min-width: 785px;
  max-width: 1106px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.explore-main-filter-bar {
  align-items: center;
}

.explore-main-left {
  width: 741px;
}

.explore-main-right {
  width: 345px;
}

.explore-sound-player-container {
  background-color: lightcoral;
}

.explore-sound-player {
  width: 345px;
}

.explore-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.explore-list-item {
  width: 172px;
  margin: 20px 0px 0px 13px ;
}

.explore-list-item a {
  color: black;
  display: block;
}

.explore-list-item a:hover {
  cursor: pointer;
}

.explore-list-item-artwork {
  width: 173px;
  height: 173px;
  background-color: grey;
}

.explore-list-item-title {
  padding-top: 11px;
  font-weight: bold;
  font-size: 9pt;
}

.explore-list-item-user {
  padding-top: 4px;
  font-size: 9pt;
}
