.home-header {
  font-size: 10.5pt;
  min-width: 785px;
  max-width: 1106px;
  margin: 0 auto;
  background-color: red;
}

.home-header-top, .home-header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.home-header a {
  color: black;
  font-weight: bold;
}

.home-figure {
  height: 450px;
  background-color: darkgrey;
}

.explore-main {
  background-color: #eef2f3;
  min-width: 785px;
  max-width: 1106px;
  margin: 0 auto;
  background-color: red;
}

.explore-main-filter-bar {
  display: flex;
  align-items: center;
}

.explore-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.explore-list-item {
  width: 173px;
  margin: 18px 13px;
}

.explore-list-item a {
  color: black;
  display: block;
  font-size: 10pt;
}

.explore-list-item a:hover {
  cursor: pointer;
}

.explore-list-item-artwork {
  width: 173px;
  height: 173px;
  background-color: grey;
}
