header.home-header, nav.home-nav {
  margin: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav.home-nav-left {

}

nav.home-nav-right {

}
