.home-header, .home-nav {
  margin: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-nav-left {

}

.home-nav-right {

}

.home-figure {
  height: 450px;
  background-color: darkgrey;
}

.home-figure-photo {
  width: 800px;
  height: 450px;
  background-color: grey;
  margin: 0 auto;
}

.explore-main {
  background-color: #eef2f3;
}

.explore-main-filter-bar {
  display: flex;
  align-items: center;
}

.explore-main-filter-bar-filters {
  display: flex;
  align-items: center;
}

.explore-main-filter-bar-filters ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.explore-main-tag-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
