.nav-bar-main {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  list-style: none;
}

.nav-bar-main-li {
  background-color: #dddddd;
  border-top: 5px solid #848484;
  border-bottom: 1px dotted #b0b0b0;
  height: 100%;
}

.nav-bar-main-li-selectable:hover {
  background-color: #cccccc;
  border-top: 5px solid #666666;
}

.nav-bar-main-li-empty {
  flex-grow: 1;
}

.nav-bar-main li nav {
  height: 48px;
}

.nav-bar-left, .nav-bar-right {
  width: 57px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-bar-left figure {
  margin: auto;
}

.nav-bar-center {
  width: 975px;
  height: 100%;
}

.nav-bar-profile-pic img {
  width: 25px;
  height: 25px;
  outline: 1px solid #cccccc;
}

.nav-bar-center {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.nav-bar-dropdown {
  position: absolute;
  background-color: #f1f1f1;
  list-style: none;
  width: 205px;
  top: 40px;
  right: 0px;
  padding: 5px;
}

.nav-bar-dropdown li {
  padding: 5px;
}

.hidden {
  display: none;
}
