.nav-bar {
  display: flex;
  justify-content: space-between;
  color: #408294;
}

.nav-bar-main-ul {
  display: flex;
  list-style: none;
  flex-grow: 1;
}

.nav-bar-main-ul-center {
  min-width: 975px;
  max-width: 975px;
}

.nav-bar-main-li {
  background-color: #dddddd;
  border-top: 5px solid #848484;
  border-bottom: 1px dotted #b0b0b0;
  height: 100%;
  transition: border-top-color 0.1s ease-out,
    background-color 0.1s ease-out,
    color 0.1s ease-out;
}

.nav-bar-main-li-selectable:hover {
  background-color: #cccccc;
  border-top: 5px solid #666666;
  cursor: pointer;
}

.pressed {
  background-color: #b1b1b1;
  border-top: 5px solid #666666;
  color: white;
}

.pressed:hover {
  background-color: #b1b1b1;
  border-top: 5px solid #666666;
  color: white;
}

.nav-bar-main-li-empty {
  flex-grow: 1;
}

.nav-bar-main-ul li nav {
  height: 43px;
}

.nav-bar-left {
  width: 57px;
  display: flex;
  align-items: center;
}

.nav-bar-center * {
  position: relative;
  top: 2.5px;
}

.nav-bar-center {
  display: block;
}

.nav-bar-left figure {
  margin: auto;
}

.nav-bar-profile-pic img {
  width: 25px;
  height: 25px;
  outline: 1px solid #cccccc;
}

.nav-bar-center {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-bar-dropdown {
  position: absolute;
  background-color: #f1f1f1;
  list-style: none;
  width: 205px;
  top: 50px;
  right: 0px;
  z-index: 1;
  color: #408294;
}

.nav-bar-dropdown li {
  position: relative;
  top: 0px;
  padding: 10px;
}

.nav-bar-dropdown li p {
  position: relative;
  top: 0px;
}

.nav-bar-dropdown li:hover {
  background-color: #dedede;
}

.hidden {
  display: none;
}
