.user-sidebar {
  width: 120px;
  padding: 35px 30px 45px 0px;
}

.user-sidebar-username {
  font-size: 10.5pt;
  font-weight: bold;
  margin-top: 5px;
}

.user-sidebar-avatar {
  width: 120px;
}

.user-sidebar-avatar-missing {
  width: 120px;
  height: 102px;
  display: flex;
  border: 1px dashed #c0c0c0;
  align-items: center;
}

.user-sidebar-avatar-missing a {
  text-align: center;
  width: 100%;
}

.user-sidebar-avatar-container {
  position: relative;
}

.user-sidebar-avatar-delete {
  background-color: white;
  border: 1px solid #eeeeee;
  position: absolute;
  bottom: 6px;
  right: 3px;
}

.user-sidebar-avatar-delete a {
  display: block;
  position: relative;
  top: 1px;
  width: 15px;
  height: 14px;
  text-align: center;
  font-size: 8pt;
  font-weight: bold;
}

.user-sidebar-location {
  margin-top: 3px;
}

p.user-sidebar-location {
  color: #888888;
}

.user-sidebar-bio {
  margin-top: 12px;
}

.user-sidebar-edit-bio, .user-sidebar-edit-location {
  display: block;
  padding-top: 13px;
}

.user-sidebar-location-input {
  width: 120px;
}

.user-sidebar-bio-input {
  width: 120px;
  height: 190px;
}

.user-sidebar-location button, .user-sidebar-bio button {
  border: none;
  width: 60px;
  height: 25px;
}

.user-sidebar-location button:hover,
.user-sidebar-bio button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.user-sidebar-location-save, .user-sidebar-bio-save {
  background-color: #0687f5;
  color: white;
}

.user-sidebar-location-cancel, .user-sidebar-bio-cancel {
  background-color: transparent;
  color: #0687f5;
}
