.user-page {

}

.user-main {
  display: flex;
  width: 975px;
  margin: 0 auto;
}

.collection-list-section {
  padding: 35px 0px 45px 30px;
  width: 100%;
}

.user-sidebar {
  width: 120px;
  padding: 35px 30px 45px 30px;
}
