.user-page {
  position: relative;
  top: 6px;
  font-size: 9pt;
  color: #363636;
}

.user-main {
  display: flex;
  width: 975px;
  margin: 0 auto;
  background-color: white;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

.collection-list-section {
  padding: 35px 0px 45px 30px;
  width: 100%;
}

.collection-list-section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.collection-list-item-artwork {
  width: 368px;
  height: 368px;
  margin-right: 29px
}

.collection-list-item-title {
  font-size: 10.5pt;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 35px;
}
